
@media (min-width: 1200px) and (max-width: 1600px){
    .first_img img{
        width: 1440px;
        height: 730px;
    }
    .first_img h1{
        font-family: Outfit;
        font-size: 100px;
        font-weight: 700;
        line-height: 126px;
        letter-spacing: 0em;
        text-align: center;
        color: #B1CFE3;
        margin-top: 30px;
    }
    .forex_academy{
        display: flex;
        align-items: center;
        margin-top: 20px;
    }
    .forex_academy img{
        width: 639px;
        height: 597px;
        margin-left: 41px;
        border-radius: 30px;
        box-shadow: 0px 4px 4px 0px #00000040;
    }
    .forex_academy p{
        width: 595px;
        height: 431px;
        font-family: Outfit;
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
        letter-spacing: 0em;
        text-align: center;
        color: #B1CFE3;
        margin-left: 100px;
    }
    .our_principles{
        display: flex;
        align-items: center;
        margin-top: 20px;
    }
    .our_principles p{
        width: 692px;
        height: 475px;
        margin-left: 15px;
        font-family: Outfit;
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
        letter-spacing: 0em;
        text-align: center;
        color: #ffffff;
        margin-top: 200px;
    }
    .our_principles img{
        box-shadow: 0px 4px 4px 0px #00000040;
        width: 639px;
        height: 597px;
        border-radius: 30px;
        margin-left: 100px;
    }
    .helping_individuals {
        display: flex;
        align-items: center;
        margin-top: 20px;
    }
    .helping_individuals img{
        width: 639px;
        height: 597px;
        margin-left: 41px;
        border-radius: 30px;
        box-shadow: 0px 4px 4px 0px #00000040;
    }
    .helping_individuals p{
        width: 594px;
        height: 375px;
        font-family: Outfit;
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
        letter-spacing: 0em;
        text-align: center;
        color: #c1c1de;
        margin-left: 100px;
    }
    .passionate{
        display: flex;
        align-items: center;
        margin-top: 20px;
    }
    .passionate p{
        width: 535px;
        height: 471px;
        font-family: Outfit;
        font-size: 40px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0em;
        text-align: center;
        color: #c1c1de;
        margin-top: 00px;
    }
    .passionate img{
        margin-left: 100px;
        width: 639px;
        height: 597px;
        border-radius: 30px;
        box-shadow: 0px 4px 4px 0px #00000040;
    }
    .our_mission h2{
        font-family: Outfit;
        font-size: 87px;
        font-weight: 700;
        line-height: 87px;
        letter-spacing: 0em;
        text-align: center;
        color: #ffffff;
    }
    .our_mission p{
        width: 1211px;
        height: 243px;
        font-family: Outfit;
        font-size: 40px;
        font-weight: 700;
        line-height: 52px; 
        letter-spacing: 0em;
        text-align: center;
        color: #ffffff;
        border: 1px solid #C1C1DE;
        width: 1282px;
        height: 545px;
        border-radius: 20px;
        padding-left: 20px;
        padding-top: 100px;
    }
    .social_media h2{
        font-family: Outfit;
        font-size: 35px;
        font-weight: 700;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: center;
        color: #ffffff;
        margin-top: 30px;
    }
    .system_view .navbar-container{
        width: 90px;
        height: 87px;
        top: 5029px;
        left: 412px;
    }
}
/*
@media (min-width: 768px) and (max-width: 1280px) {
    .first_img img{
        width: 100%;
        height: auto;
        margin-top: 20px;
    }
    .first_img h1{
        font-family: Outfit;
        font-size: 100px;
        font-weight: 700;
        line-height: 126px;
        letter-spacing: 0em;
        text-align: center;
        color: #B1CFE3;
        margin-top: 30px;
    }
    .forex_academy{
        display: flex;
        align-items: center;
    }
    .forex_academy img{
        width: 50%;
        height: auto;
        margin-left: 20px;
        border-radius: 20px;
        box-shadow: 0px 4px 4px 0px #00000040;
        margin-top: -200px;
    }
    .forex_academy p{
        width: 80%px;
        height: 431px;
        font-family: Outfit;
        font-size: 24px;
        font-weight: 700;
        line-height: 50px;
        letter-spacing: 0em;
        text-align: center;
        color: #B1CFE3;
        margin-left: 100px;
    }
    .our_principles{
        display: flex;
        align-items: center;
        margin-top: 20px;
    }
    .our_principles p{
        width: 692px;
        height: 475px;
        margin-left: 15px;
        font-family: Outfit;
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
        letter-spacing: 0em;
        text-align: center;
        color: #ffffff;
        margin-top: 200px;
    }
    .our_principles img{
        width: 50%;
        height: auto;
        margin-left: 20px;
        border-radius: 20px;
        box-shadow: 0px 4px 4px 0px #00000040;
    }
    .helping_individuals {
        display: flex;
        align-items: center;
        margin-top: 20px;
    }
    .helping_individuals img{
        width: 50%;
        height: auto;
        margin-left: 20px;
        border-radius: 20px;
        box-shadow: 0px 4px 4px 0px #00000040;
    }
    .helping_individuals p{
        width: 594px;
        height: 375px;
        font-family: Outfit;
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
        letter-spacing: 0em;
        text-align: center;
        color: #c1c1de;
        margin-left: 100px;
    }
    .passionate{
        display: flex;
        align-items: center;
        margin-top: 20px;
    }
    .passionate p{
        width: 535px;
        height: 471px;
        font-family: Outfit;
        font-size: 40px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0em;
        text-align: center;
        color: #c1c1de;
        margin-top: 00px;
    }
    .passionate img{
        width: 50%;
        height: auto;
        margin-left: 20px;
        border-radius: 20px;
        box-shadow: 0px 4px 4px 0px #00000040;
    }
    .our_mission h2{
        font-family: Outfit;
        font-size: 87px;
        font-weight: 700;
        line-height: 87px;
        letter-spacing: 0em;
        text-align: center;
        color: #ffffff;
    }
    .our_mission p{
        width: 1211px;
        height: 243px;
        font-family: Outfit;
        font-size: 40px;
        font-weight: 700;
        line-height: 52px; 
        letter-spacing: 0em;
        text-align: center;
        color: #ffffff;
        border: 1px solid #C1C1DE;
        width: 1282px;
        height: 545px;
        border-radius: 20px;
        padding-left: 20px;
        padding-top: 100px;
    }
    .social_media h2{
        font-family: Outfit;
        font-size: 35px;
        font-weight: 700;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: center;
        color: #ffffff;
        margin-top: 30px;
    }
    .system_view .navbar-container{
        width: 90px;
        height: 87px;
        top: 5029px;
        left: 412px;
    }

}
*/
/* Media query for mobile view */
@media (max-width: 768px) {
    .first_img img {
      width: 100%;
      height: auto;
      margin-top: 20px;
    }
  
    .first_img h1 {
      margin-top: 24px;
      color: #B1CFE3;
      font-family: Outfit;
      font-size: 25px;
      font-weight: 700;
      line-height: 31.5px;
      letter-spacing: 0em;
      text-align: center;
    }
  
    .forex_academy,
    .helping_individuals {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      margin-top: 20px;
    }
  
    .forex_academy p,
    .our_principles p,
    .helping_individuals p,
    .passionate p,
    .our_mission p {
      color: #B1CFE3;
      font-family: Outfit;
      font-size: 12px;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: center;
      margin-top: 20px;
    }
  
    .forex_academy img,
    .our_principles img,
    .helping_individuals img,
    .passionate img {
      width: 100%;
      height: auto;
      margin-top: 10px;
      border-radius: 30px;
      box-shadow: 0px 4px 4px 0px #00000040;
    }
  
    .our_principles p {
      width: 100%;
      margin-top: 20px;
    }
  
    .passionate p {
      width: 100%;
      margin-top: 30px;
    }
  
    .passionate img {
      margin-top: 20px;
    }
  
    .our_mission h2 {
      font-family: Outfit;
      font-size: 23px;
      font-weight: 700;
      line-height: 23px;
      letter-spacing: 0em;
      text-align: center;
      color: #ffffff;
      margin-bottom: 20px;
    }
  
    .our_mission p {
      font-family: Outfit;
      font-size: 12px;
      font-weight: 700;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: center;
      color: #ffffff;
      width: 100%;
      padding: 20px;
      margin: 20px 0;
      border: 1px solid #c1c1de;
      border-radius: 20px;
    }
  
    .social_media h2 {
      font-family: Outfit;
      font-size: 18px;
      font-weight: 700;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: center;
      color: #ffffff;
      margin-top: 30px;
    }
  
    /* Navbar styles for mobile view */
    .navbar-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
    }
  
    .me-auto .nav-link {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  
    .me-auto .nav-link svg {
      width: 23px;
      height: 22px;
    }
  
    .instagram-icon {
      background: linear-gradient(135deg, #833ab4, #fd1d1d, #f77737, #fdcF60);
      padding: 8px;
      border-radius: 50%;
    }
  
    .instagram-icon svg {
      fill: white;
    }
  }
  