
@media (max-width: 2366px){
    .flex-container{
        background-color: #270A76;
        width: 1440px;
        height: 640px;
    }
    .title{
        display: flex;
        font-family: 'Times New Roman', Times, serif;
        text-align: left;
        font-size: 140px;
        Line-height: 169.43px;
        color: #FFFFFF;
        margin-left: 59px;
    }
    .description{
        width: 647px;
        height: 108px;
        margin-left: 98px;
        font-family: Inter;
        font-size: 30px;
        font-weight: 800;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: left;
        color: #ffffff;
    }
    .flex-container .btn{
        border: 2px solid #9747FF;
        font-family: Inter;
        font-size: 35px;
        font-weight: 800;
        line-height: 42px;
        letter-spacing: 0em;
        text-align: left;
        background: linear-gradient(0deg, #9747FF, #9747FF),
        linear-gradient(0deg, #FFFFFF, #FFFFFF);
        border-radius: 25px;
        width: 329px;
        height: 79px;
        margin-right: 900px;
    }
    .real-background{
        background-color: midnightblue;
        width: 100%;
        height: auto;
    }

    .unlock-knowledge {
        font-family: Inter;
        font-size: 50px;
        font-weight: 800;
        line-height: 61px;
        letter-spacing: 0em;
        text-align: left;
        margin-left: 345px;
        color: #FFFFFF;
        margin-top: 80px;
    }
    .unlock-knowledge span{
        color: #FC8D2E;
    }
    .unlock-knowledge-p {
        font-family: Calibri;
        font-size: 35px;
        font-weight: 700;
        line-height: 43px;
        letter-spacing: 0em;
        text-align: center;
        margin-left: 155px;
        color: #FFFFFF;
        width: 647px;
        height: 108px;
    }
    .container-fluid img{
        width: 1440px;
        height: 700px;
    }
    .cards{
        border: 8px solid #6FA7CB;
        background: linear-gradient(0deg, #6FA7CB, #6FA7CB),
                    linear-gradient(0deg, rgba(177, 207, 227, 0.52), rgba(177, 207, 227, 0.52));
        margin-top: 100px;
        border-radius: 25px;
        width: 1354px;
        height: 757px;
    }
    .master-advanced, .gain-insight {
        box-shadow: 0px 4px 4px 0px #00000040;
        background: #80859F;
        width: 540px;
        height: 346px;
        border-radius: 0px, 80px, 0px, 0px;
        font-family: Inter;
        font-size: 35px;
        font-weight: 800;
        line-height: 42px;
        letter-spacing: 0em;
        text-align: left;
        color: #ffffff;
        width: 445px;
        height: 349px;
        margin-left: 152px;
    }
    .another-interest {
        display: flex;
        color: #ffffff;
        box-shadow: 0px 4px 4px 0px #00000040;
        background: #80859F;
        width: 1004px;
        height: 193px;
        top: 2358px;
        left: 225px;
        border-radius: 0px, 80px, 0px, 0px;
    }
}


/* Media query for mobile view */
@media screen and (max-width: 767px){
    .flex-container{
        background-color: #270A76;
        width: 100%;
        height: auto;
    }
    .flex-container .title {
        font-size: 35px;
        line-height: 60px; 
        letter-spacing: 0.03em; 
        margin-left: 20px;
        color: #ffffff;
    }
    .flex-container .description{
        display: flex;
        width: 250px;
        height: 62px;
        font-family: Inter;
        font-size: 18px;
        font-weight: 700;
        line-height: 15.5px;
        letter-spacing: 0em;
        text-align: left;
        color: #ffffff;
        margin-left: 20px;
    }
    .flex-container .btn{
        font-size: 1.1rem;
        padding-bottom: 10px;
        display: block;
        border: 2px solid black;
        background-color: #9747ff;
        border-radius: 25px;
        width: 150px;
        height: 50px;
        margin-left: 20px;
    }
    .container-fluid {
        background-color: midnightblue;
        width: 100%;
        height: auto;
    }
    .unlock-knowledge{
        font-family: Inter;
        font-size: 30px;
        font-weight: 700;
        line-height: 30.5px;
        letter-spacing: 0em;
        color: #ffffff;
        margin-top: 50px;
    }
.unlock-knowledge-p   {
        font-family: Calibri;
        font-size: 20px;
        font-weight: 700;
        line-height: 25.5px;
        letter-spacing: 0em;
        text-align: left;
        color: #ffffff;
    }
.unlock-knowledge span{
        color: #FC8D2E;
    }
    .cards{
        display: flex;
        margin-top: 30px;
        background-color: darkblue;
        border: 8px solid #6FA7CB;
        box-shadow: 0px 4px 4px 0px #00000040;
        background: linear-gradient(0deg, #6FA7CB, #6FA7CB),
        linear-gradient(0deg, rgba(177, 207, 227, 0.52), rgba(177, 207, 227, 0.52));           
     }
     .cards p{
        color: #ffffff;
     }

    #community-knowledge {
        border: 2px solid #B1CFE3;
        margin-top: 30px;
    }
    #community-knowledge p{
        display: flex;
        font-family: Calibri;
        font-size: 18px;
        font-weight: 700;
        line-height: 30.5px;
        letter-spacing: 0em;
        text-align: center;
        color: #ffffff;
        padding-top: 10px;
    }
}

@media (max-width: 480px) {
    /* Further adjust font sizes for even smaller screens if needed */
    .title {
        font-size: 2rem;
    }
    
    .description {
        font-size: 1rem;
    }
    
    .unlock_knowledge {
        font-size: 1.5rem;
    }
    
    .unlock_knowledge_P {
        font-size: 0.8rem;
    }
}