body{
    background-color: #000235;
}
.contact-us h1{
    font-family: Inter;
    font-size: 60px;
    font-weight: 800;
    line-height: 73px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
}