@media (max-width: 1400px) {
    body{
        background-color: #000235;
    }
    .text-center{
        font-family: Outfit;
        font-size: 40px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0em;
        text-align: center;
    }
}

@media (max-width:768px){
.text-center{
        font-family: Outfit;
        font-size: 40px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0em;
        text-align: center;
        color: #ffffff;
        margin-top: 40px;
    }
    .text-center .trading{
        color: #ff4d00;
    }
}